.about{
    font-family: "Roboto", sans-serif;
    width:100%;
    min-height: 100vh;
    animation: fadeUp 1.8s ease forwards .8s;

    padding:100px;
    visibility: hidden;
    color: var(--bg-color);
    background-color: var(--bg-body-color);
}

    

@keyframes fadeUp {
from {
visibility: hidden;
transform: translateY(300px);
}
to{
visibility: visible;
transform: translateY(0px);
}
}
.landing-about{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:100px 2rem 0 2rem;

     

    
}

.left-about{
    padding: 0;
opacity: .8;
color: var(--text-light-color);
letter-spacing: 2px;
line-height: 1.8;

}
 .img-box{
    width:300px;
    height: 300px;
    border:1px solid var(--bg-green-color);
    position: relative;
    border-radius: 5px;
    z-index: 1;
    background-color: var(--bg-color);
    top:-210px;
    left:90px;
}
 .image{
    width: 300px;
    border: 1px solid var(--text-light-color);
    height: 300px;
    position: relative;
    border-radius: 5px;
    z-index: 2;
    
    top: -470px;
    left:70px;
}

.right-about{

padding:0 100px;


}
.fatah{
    color: var(--text-color);
    font-size: 1.4rem;
}
.about-fatah{
    text-transform: none;
    font-size: 1.4rem;
    opacity: 0.8;

}
.skills{
    margin-top: 1rem;

    font-size: 1.4rem;
}
.skillset{
    display: flex;
    flex-direction: column;
    margin: 0;
    

}
.skillset form{
    margin: 0;
    width: 16em;
    position: relative;
    background-color: var(--bg-color);
}
.skillset li{
    font-size: 1rem;    


    
}
@media screen and (max-width:500px) {
    .about{
       
padding: 2rem;
flex-direction: column;
}
.landing-about{
width: 100%;
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
margin-top: 100px ;
padding: 100px 0;

}
.left-about{

font-size: .8rem;




}
.fatah{
font-size: .6rem; 
}
.about-fatah{
font-size: .6rem;
}

.right-about{
    margin-top: 100px;
margin-bottom: 0;
padding-left: 0;
height: 300px;

padding-top:100px ;

}.img-box{
    width: 200px;
    height: 200px;
    top:-300px;
left:80px;
}
.image{
width: 200px;
height: 200px;
top:-470px ;
left:50px;
}
.skills{
font-size: .8rem;
}
}
@media screen and (max-width:768px) {
    .about{

padding: 2rem;
        flex-direction: column;
    }
    .landing-about{
    width: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    margin-top: 100px ;
    padding: 100px 0;
        
}
.left-about{
padding: 0;
margin:  0;




    
}
.fatah{
   font-size: 1.2rem; 
}
.about-fatah{
    font-size: 1rem;
}

.right-about{
margin-bottom: 0;
padding-left: 0;
    height: 300px;
    width: auto;
    padding-top:100px ;
    
}.img-box{
    left:80px;
}
.image{
    
    left:50px;
}
.skills{
    font-size: 1.2rem;
}
}

