.about{
    font-family: "Roboto", sans-serif;
    width:100%;
    min-height: 100vh;
    color: var(--bg-color);
    margin-top: 100px;
    background-color: var(--bg-color);
}
.landing-about{
    margin: 150px ;
    
    display:flex;
    justify-items: space-between;
    align-content: center;
    width: 90%;
    
}

.left-about{
opacity: 0.7;
color: var(--text-light-color);
width:60%;
padding: 0 100px;

letter-spacing: 2px;
line-height: 2;

}
.img-box{
    width:250px;
    height: 250px;
    border:1px solid var(--bg-green-color);
    position: relative;
    border-radius: 5px;
    z-index: 1;
    background-color: var(--bg-color);
}
.image{
    width: 250px;
    border: 1px solid var(--text-light-color);
    height: 250px;
    position: relative;
    border-radius: 5px;
    z-index: 2;
    top: -270px;
    left: -27px;
}

.right-about{
   
   width: 30%;

   


}
.fatah{
    color: var(--text-color);
    font-size: 1.4rem;
}
hr{
    width: 30%;
    margin: 10px 50px 0 0;
}
.about-fatah{
    text-transform: none;
    font-size: 1.5rem;
    opacity: 0.8;

}
.skills{
    margin-top: 3rem;

    font-size: 1.5rem;
}
.skillset{
    display: flex;
    flex-direction: column;
    margin: 0;
    

}
.skillset form{
    margin: 0;
    width: 16em;
    position: relative;
    background-color: var(--bg-color);
}
.skillset li{
    font-size: 1rem;    

}
.image-box{
    width:500px;
    height: 50%; 
    
}
@media screen and (max-width:700px) {
    .about{
        flex-direction: column;
    }
    .landing-about{
    
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    padding: 0;
    margin: 0;
        
}
.left-about{
padding:2rem 1rem;
width: 100%;
margin: 0;


    
}
.fatah{
   font-size: 1.2rem; 
}
.about-fatah{
    font-size: 1rem;
}

.right-about{
width: 100%;
    padding: 150px 0 0 4rem;
    height: 450px;
    
}
.skills{
    font-size: 1.2rem;
}
}

