.about{
    font-family: "Roboto", sans-serif;
    width:100%;
    min-height: 100%;
    color: var(--bg-color);
    background-color: var(--bg-color);
}
.landing-about{
    margin: 100px 0 0 100px;
    display:flex;
    justify-items:space-around;
    align-content: center;
    width: 80%;
    min-height: 100vh;
}

.left-about{
opacity: 0.7;
color: var(--text-light-color);
width:60%;
padding:80px;
letter-spacing: 2px;
line-height: 1.5;

}
.img-box{
    width:250px;
    height: 250px;
    border:2px solid var(--bg-green-color);
    position: relative;
    border-radius: 10px;
    z-index: 1;
    background-color: var(--bg-color);
}
.image{
    width: 250px;
    border: 5px solid var(--text-light-color);
    height: 250px;
    position: relative;
    border-radius: 8px;
    z-index: 2;
    top: -280px;
    left: -30px;
}

.right-about{
   background-color: transparent;
   width: 30%;
   height:50%;
   margin-left: 10px;
   padding: 100px 80px;

}
.fatah{
    color: var(--text-color);
    font-size: 1.4rem;
}
hr{
    width: 30%;
    margin: 10px 50px 0 0;
}
.about-fatah{
    text-transform: none;
    font-size: 1.5rem;
    opacity: 0.8;

}
.skills{
    margin-top: 30px;

    font-size: 1.5rem;
}
.skillset{
    margin: 20px;
}
.skillset p{
    font-size: 1.4rem;
}
.image-box{
    width:500px;
    height: 50%; 
    
}

