.contact{
    width:100%;
    min-height: 100vh;
    padding: 100px 0;
}
.contact-wrapper{
    margin: 150px 200px 0 200px;

}
form{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-around;
    align-content: center;
    font-size: 3rem;
    padding: 40px 0;
    height: 100%;
    margin: 150px  auto 0 auto;

}
label{
    color: var(--text-light-color);
    margin-top: 100px;
    
}
input{
    width:auto;
    font-size: 1.5rem;
    color: var(--text-light-color);
    height:30px;
    padding: 20px auto;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--bg-body-color);
}
input:focus{
    
    border-bottom: 1px solid var(--bg-green-color);
}
input::placeholder{
    font-size: 1.5rem;
}
.tertiary-button{
    display: grid;
    place-content: center;
    
}
@media screen and (max-width:700px){
    .contact{
        
        padding: 100px 40px;
        
    }
    .contact-wrapper{
        margin: 150px 0 0 0;
    }
   form{ 
       width:100%;
       margin: 150px 0 ;
       padding: 0;
}
input{
    width: 100%;
    margin: 0;
    padding: 10px;
    
}
input::placeholder{
    font-size: 1rem;
}
.tertiary-button{
    margin: 50px 0;
}
}