.contact{
    width:100%;
    min-height: 100vh;
    margin-top: 100px;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content:space-around;
    align-content: center;
    margin: 100px 200px;
    font-size: 3rem;
    padding: 50px;
    
}
label{
    color: var(--text-light-color);
    margin-top: 100px;
    
}
input, textarea{
    width:80%;
    height:30px;
    padding: 20px 10px;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--bg-green-color);
}
input::placeholder{
    font-size: 1.5rem;
}
.tertiary-button{
    text-align: center;
}