.contact {
	width: 100%;
	min-height: 100vh;
	margin: 10rem 0;
	padding-top: 10rem;
}
.contact-wrapper {
	padding: 2rem 0;
	margin: 15rem 20rem 0 20rem;
}
form {
	width: 60%;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-around;
	align-content: center;
	font-size: 2.6rem;
	padding: 4rem 0;
	height: 100%;
	margin: 15rem auto 0 auto;
}
label {
	color: var(--text-light-color);
	margin-top: 8rem;
	font-size: 2.6rem;
	font-weight: 100;
}
input {
	font-weight: 100;
	width: auto;
	font-size: 2.6rem;
	color: var(--text-light-color);
	height: 3rem;
	padding: 2rem auto;
	background: none;
	border: none;
	outline: none;
	border-bottom: 3px solid var(--bg-body-color);
}
input:focus {
	border-bottom: 1px solid var(--bg-green-color);
}
input::placeholder {
	color: var(--text-light-color);
	padding: 2rem 1rem ;
	font-size: 2.6rem;
	font-weight: 100;
	
}
input:focus::placeholder{
	padding: 2rem 0rem ;

	transition: opacity .5s .5s ease;
	opacity: 0;
}
.tertiary-button {
	display: grid;
	margin: 6rem 0;
	place-content: center;
}
@media screen and (max-width: 767px) {
	.contact {
		width: 100%;
	
		padding:1rem 4rem;
		min-height: 60vh;

		
	}
	.contact-wrapper {
		margin: 0;
	}
	form {
			margin-top: 10rem;
		width: 100%;
		padding:  0;
	}
	input {
		width: 100%;
		margin: 0;
		font-size: 1.8rem;
	}
	input::placeholder {
		font-size: 1.8rem;
	}
	
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.contact {
		padding-top: 10rem;
		min-height: 80vh;
		width: 100%;
	}
	.contact-wrapper {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	form {
		width: 70%;
	}
	input {
		width: auto;
			font-size: 2rem;
		margin: 0;
	}
	input::placeholder{
	
		font-size: 2rem;
	}

}

@media screen and (min-width: 1024px) {
	.contact {
		width: 100%;
		min-height: 80vh;
        
	}
	.contact-wrapper {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	form {
		padding: 0;
	}

	input {
		width: 100%;
	}
    .tertiary-button{
        margin-top: 100px;
    }
}
