.work {
	min-height: 100vh;
	font-family: inherit;
	width: 100%;
	padding-top: 100px;
	display: grid;
	place-content: center;
	background-color: var(--bg-body-color);
}

@media screen and(max-width:767px) {
	.work {
		width: 100%;
	}
}

