.work{
    min-height: 100vh;
    font-family: inherit;
    width: 100%;
    padding: 100px 0;
display: grid;
place-content: center;
    background-color: var(--bg-body-color);
    
    



}


@media screen and(max-width:767px){
    .work {
        width:100%;
        
}
}