.dot {
	width: 1.6rem;
	height: 1.6rem;
	background-color: var(--bg-green-color);
	border-radius: 50%;
	position: absolute;
	left: calc(50% - 0.8rem);
	top: 0.1rem;
}
@media screen and (max-width: 767px) {
	.dot {
		left: 0.7rem;
	}
}
@media screen and (max-width: 21.875em) {
	.dot {
		left: 0.7rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.dot {
		left: -0.7rem;
	}
}


