.landing {
	width: 100%;
	display: flex;
	margin: 2rem 0;
	transition: all 0.2s ease;
}

.left {
	width: calc(100% - 4vw);
	letter-spacing: .3rem;
}
.small {
	font-size: clamp(1rem, 4vw, 1.8rem);
	font-weight: 400;
	padding: 0 0 1.6rem 0rem;
}

.big {
	font-size: 5.6rem;
	font-weight: 400;
	padding: 0 0 1.6rem 0rem;
	letter-spacing: 0.3rem;
	background-image: linear-gradient(
		to right top, var(--bg-body-color),
		#52ffb3, #539987
	);
	background-clip: text;
	background-size:400% ;
	color: transparent;
	animation: animate 5s infinite alternate;
}
@keyframes animate {
	0%{
		background-position: 0% 50%;

	}
	100%{
		background-position: 100% 50%;

	
	
	}

}

.medium {
	padding: 0 0 1.6rem 0px;
	font-size: clamp(2rem, 4vw, 3.6rem);
	opacity: 0.9;
	font-weight: 400;
}
.para {
	font-size: 1.8rem;
	font-weight: 400;
	padding: 0 0 1.6rem 0;
}

.right {
	flex: 50%;
	
}
.blockquote-wrapper {
	width: 35rem;
	display: flex;
	height: 30rem;
	padding: 1rem 2rem;
}
.blockquote {
	border: 2px solid var(--bg-body-color);
	position: relative;
	padding: 5rem;
	background-color: var(--bg-color);

	animation: shadows 2s ease infinite alternate;
}
.blockquote p {
	line-height: 1.4;
	display: block;
	font-style: italic;
	border-radius: 10px;
color: var(--text-dark-color);
	position: relative;
	font-weight: 400;
	font-size: 2.6rem;
}
span{
	font-size: 0=9rem;
}
cite {
	font-size: 1.4rem;
	font-weight: 400;
	padding: 10px;
	display: block;
	text-align: right;
}
cite::before {
	content: '- ';
}
@keyframes shadows {
	0% {
		box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.25);
		transform: scale(0.85);
	}
	100% {
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.25);
		transform: scale(1.05);
	}
}

.btn {
	width: 100%;
	margin: 5rem 0;
	padding: 0;
	display: flex;
	justify-items: center;
	align-items: center;
}


@media screen and (max-width: 767px) {
	.landing {
		margin-top: 10rem;
		width: 100%;
		display: flex;
		flex-direction: column;
		padding-left:1rem;
	}
	.left {
		padding: 3rem 3.2rem;
		margin-bottom: 5rem;
		width: 100%;
	}.small {
		font-size: 1.6rem;
	}
	.big {
		font-size: 3.5rem;
	}
	.medium {
		font-size: 2.5rem;
	}
	
	.para {
		margin-top: 1rem;
		padding: 0;
		font-size: 1.6rem;
	}
	
	.right {
		width: 100%;
		padding: 2rem 2.4rem;
		margin-bottom: 5rem;
		margin-left: 0;
	}
	.blockquote {
		
		width: 25rem;
		height: 25rem;
	}
	.blockquote p {
		font-size: 2.0rem;
	}
}
@media screen and (max-width:21.875em){
	.landing{
		
		margin-top: 5rem;
	}
.left{
	padding: 3rem 2rem;
}
.small {
	font-size: 1.4rem;
}
.big {
	font-size: 3rem;
}
.medium {
	font-size: 2.5rem;
}
.para {
	padding: 0rem 0;
	font-size: 1.4rem}
.right{
padding: 2rem 2rem;
}
.blockquote-wrapper {
	width: 25rem;
	display: flex;
	height: 25rem;
	padding: 1rem 1rem;
}
.blockquote {
		
	width: 25rem;
	height: 25rem;
}

}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.landing {

		height: 100rem;
		width: 100%;
		flex-direction: column;
		display: flex;
		margin-bottom: 0;
		
		justify-content: center;
		align-content: center;
	}
	.left {
		padding: 0 3.2rem 3.2rem 3.2rem;
	}
	.small {
		font-size: 1.8rem;
	}
	.big {
		font-size: 5rem;
	}
	.medium {
		font-size: 3.5rem;
	}
	.para {
		padding: 0.5rem 0;
		font-size: 1.8rem}
	


	.right {
	
			width: 100%;
			padding: 2rem 2.4rem;
			margin-bottom: 2rem;
			margin-left: 0;
	}
	
	
}
@media screen and (min-width: 1024px) {
	.landing {
		padding: 10rem 5rem;
		width: 100%;
	}
	.small {
		padding: 0;
		font-size: 1.8rem;
	}
	.big {
		font-size: 6rem;
	}
	.medium {
		font-size: 4.5rem;
	}
	.para {
		padding: 0.5rem 0;
		font-size: 1.8rem}
}
