.notFound{
    font-family: inherit;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notHeading{
text-align: center;
    font-size: clamp(4rem, 4vw, 8rem);
    color: var(--text-dark-color);
    font-weight: 400;
}
.notParagraph{
    margin: 0;
    font-size: clamp(1rem, 4vw, 1.8rem);
    font-weight: 400;
    opacity: 0.4;
}

 .tertiary{
    padding: .9rem 1.8rem;
      font-size: clamp(1rem, 4vw, 1.5rem);
      text-transform: capitalize;
      font-weight: 400;
    background-color: var(--bg-green-color);
      letter-spacing: 1px;
      border-radius: .5rem;
      outline:none;
      cursor:pointer;
      transition: 0.4s ease-in-out ;
      border: 1px solid var(--bg-green-color);
      box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.2);
    }
    
      .tertiary:hover{
        background-color:var(--bg-color);
        transition:all ease 0.4s;
        border: 1px solid  var(--bg-green-color);
        color: var(--bg-green-color);
    }
    .tertiary a:visited{
      color: var(--text-dark-color);
    }