.primary {
	padding: 0.9rem 1.5rem;
	margin-left: 4rem;
	font-size: 18px;
	text-transform: capitalize;
	font-weight: 400;
	background-color: transparent;
	letter-spacing: 1px;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	color: var(--bg-body-color);
	border: 3px solid var(--bg-body-color);
	box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.2);
}
.primary:hover {
	background-color: transparent;
	transition: ease 0.6s;
	
}
.primary a:link {
	color: var(--text-light-color);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.primary {
		font-size: 1.8rem;
	
	}
}
@media screen and (max-width: 767px) {
	.primary {
		font-size: 1.6rem;
		font-weight: 300;
		margin-left: 2rem;

		
	
	}
	
}
@media screen and (max-width:21.875em){
.primary{
	margin-left: 1rem;
}
}