.profile {
	margin: 0;
	font-weight: 400;
	letter-spacing: .2rem;
}
.title-head {
	font-size: 2.2rem;
	font-weight: 400;
	text-transform: capitalize;
	margin: .5rem 0 .5rem 0;
	color: var(--bg-green-color);
}
.place {
	font-weight: 400;
	font-size: 1.3rem;
	color: var(--text-light-color);
	text-transform: capitalize;
	margin: 10px 0;
}
.article {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--bg-green-color);
}
.article>p {
	list-style-type: none;
	font-size: 1.2rem;
	font-weight: 400;
	padding: .5rem 0;
}
