.footer{
    width: 100%;
    color: var(--bg-green-color);
padding:  0;
    background-color:var(--text-light-color);
}
.semicircle {
    position: relative;
    background: var(--bg-color);
    height: 40vh;
  }
  
  .semicircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--bg-color);
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }
.connect{
margin-top: 50px;
text-align: center;
font-size: 4rem;
letter-spacing: 3px;
color:var(--text-light-color);

}
.para-connect{
    margin-top: 50px;
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 3px;
    color: var(--text-dark-color);
}
.email{
    display: flex;
    justify-content:center ;
    align-content: center;
    margin: 30px 80px 0 80px;
    color: var(--text-light-color);
}
.footer-nav{
    width: 100%;

}

.social{
    display: flex;
    justify-content:center ;
    align-content: center;
    margin: 100px 80px 20px 80px;
   font-size: 1.2rem;
    

}
.social li{
    margin: 10px 20px; 
    
    
                           

}
.social li a{
    font-size: 3rem;
padding:1rem .5rem 0 .5rem;
                            

    
}
.social li a:link, .social li a:visited{
    color: var(--bg-color);
    
}
.social li a:hover{
    color: var(--bg-green-color);
    transition: 1s ease;
}
.nav-social{
    display: flex;
    justify-content:center ;
    align-content: center;
    width: 100%;
    height: 80px;
   font-size: 2rem;
   
}
.nav-social li{
    padding: 20px;

    
    
}
.nav-social  a {
    color:var(--bg-color);
    margin: 0 2rem;
    font-weight: 500;
    font-size: 2rem;
    
    
}
.nav-social li a:hover{


color: var(--text-light-color);

background-color: var(--bg-color);

}

.coder{
    margin: 40px 0 0px 0;
    padding: 10px;
    text-align: center;
    background-color: var(--bg-color);
    
}
.coder .copy{
    color:var(--text-dark-color);
    font-size: 1.5rem;
}
@media  screen and (max-width:500px ){
    .footer-nav{
        display: flex;
        align-items: center;
    justify-content: center;

    }
    .nav-social{
        flex-direction: column;
    }
    .social{
        flex-direction: column;
    }
}
@media screen  and (max-width:768px){
    .footer{
    
    padding: 0;
        
    }

    .semicircle {
        position: relative;
        background: var(--bg-color);
        height: 50vh;
      }
      
      .semicircle::before {
        position: absolute;
        content: '';
        left: 50%;
        z-index: 10;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: var(--bg-color);
        transform: translateX(-50%) translateY(50%);
        
      }
    .connect{
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color:var(--text-light-color);
    
    }
    .para-connect{
        margin-top: 40px;
        text-align: center;
        font-size: .8rem;
        letter-spacing: 3px;
        color: var(--text-dark-color);
        


    
    }.footer-nav{
        margin: 0;
           padding: 0;
        display: flex;
        justify-items: center;
        align-items: center;
        
        
        
    }
    
    .social{

    margin: 0;
    padding: 0;
        
    
    }
    
    .social li a{
        font-size: 3rem;
    padding:0.25rem;
    color: var(--bg-color);
        
    }
    .social li a:visited, .social li a:link{
    
        color: var(--bg-color);
        background-color: var(--text-light-color);
    }
    
.social li a:hover{
    color:var(--bg-green-color);
    transition: .5 ease;
}
    .nav-social{
    flex-direction: column;
    margin: 0;
       font-size: 1.5rem;
    }
    .nav-social li{
        padding:1rem 0 ;
    
    }
    .nav-social li a{
        padding: .5rem ;
    }
    .nav-social li a:hover{
        transition: 0.4s;
 color: var(--text-light-color);
background-color: var(--bg-color);
      

    }
    .coder{
        margin: 20px 0;
        padding: 10px 20px 5px 20px;
    }
    .coder .copy{
        font-size: 1.2rem;
    
    }
    .coder .one{
        font-size: 1rem;
        padding-bottom: 5px;
    }
}