.footer {
	position: relative;
	margin-top: 15rem;
	width: 100%;
	

}




.para-connect {
	padding-bottom: 0px;

	text-align: center;
	font-size: 1.8rem;
	font-weight: 300;
	letter-spacing: 1px;
	color: var(--text-dark-color);
}
.footer-nav {
	width: 100%;
	background-color: var(--text-dark-color);
	


	
}

.social {
	display: flex;
width: 100%;
	justify-content: center;
	align-content: center;
	margin: 2rem 0 0 0;
}
.social li {
	margin: 1rem 2rem;
}
.social li a {
	font-size: 2.6rem;
	padding: 1rem 0.5rem 0 0.5rem;
}
.social li a:link,
.social li a:visited {
	color: var(--bg-body-color);
}
.social li a:hover {
	color: var(--bg-darkgreen-color);
	transition: 2s ease;
}
.nav-social {
	padding-bottom: 1rem;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100%;
}
.nav-social li {
	padding: 1rem 0;
}
.nav-social li a {
	color: var(--bg-color);
	margin: 0 2rem;
	font-weight: 400;
	font-size: 2.8rem;
	padding: 1rem;
}
.nav-social li a:hover {
	transition: 1s ease;

	color: var(--text-light-color);

	background-color: var(--bg-color);
}

.coder {
	padding: .5rem;
	text-align: center;
	background-color: var(--bg-color);
}
.coder .copy {
	color: var(--text-dark-color);
	font-size: 1.6rem;
	font-weight: 300;
}


@media screen and (max-width: 767px) {
	.footer {
		margin-top: 0;
	}
	
	.connect {
		padding-top: 0;
		text-align: center;
		font-size: 3.6rem;
		letter-spacing: 1px;
		color: var(--text-light-color);
	}
	.para-connect {
		
		padding: .5rem;
		text-align: center;
		font-size: 1.8rem;
		letter-spacing: 1px;
		color: var(--text-dark-color);
	}
	.footer-nav {
		margin: 0;
		padding:0rem 0 ;
		width: 100%;
	
		
	}

	.social {
		width: 100%;
	
	}
	.social li{
padding: .5rem 0;
		margin: 0;
	}

	.social li a {
		font-size: 2.4rem;
		padding: 0rem 1rem;
		color: var(--bg-color);
	}
	.social li a:visited,
	.social li a:link {
		color: var(--bg-color);
		
	}

	.social li a:hover {
		transition: 0.5 ease;
	}
	.nav-social {
		width: 100%;
		padding: .5rem;
		
	}
	.nav-social li {
		
		padding: 1rem 0;
	}
	.nav-social li a{
		margin: 0;
		padding: 1rem;
font-size: 1.8rem;
	}

	.nav-social li a:hover {
		transition: 0.4s;
		color: var(--text-light-color);
		background-color: var(--bg-color);
	}
	
	.coder .copy {
		font-size: 1.6rem;
	}
	.coder .one {
		padding: 0;
		font-size: 1.4rem;
	
}
}
@media screen and (max-width:21.875em){
	.footer {
		margin-left: 0;
			margin-top: 0;
		}
	
	
		.semicircle {
			position: relative;
			background: var(--bg-color);
			height: 25vh;
		}
	
		
		.connect {
			padding-top: 0;
			text-align: center;
			font-size: 3.6rem;
			letter-spacing: 1px;
			color: var(--text-light-color);
		}
		.para-connect {
			padding: 1rem ;
			margin: 0;
			text-align: center;
			font-size: 1.4rem;
			letter-spacing: 1px;
			color: var(--text-dark-color);
		}
		.footer-nav{
			margin: 0;
		}
		.social li a{
			font-size: 1.8rem;
		}
		.nav-social li{
			padding: 1rem 0;
		}
		.nav-social li a{
			padding: 0.7rem;
			font-size: 1.6rem;
		}
	
		.coder {
			padding: 1rem 2rem 0 2rem;
		}
		.coder .copy {
			font-size: 1.6rem;
		}
		.coder .one {
			font-size: 1.4rem;
			padding-bottom: 1rem;
		
	}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {

.footer
{
	margin-top: 0;
}	.connect{
	font-size: 4rem;
}
.para-connect{
	font-size: 2.2rem;
}

}
@media screen and (min-width: 1024px){
	.footer{
		margin-top: 0;
	}
}


