.landing{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin:50px 0 0 0;
    letter-spacing: 3px;
    background-color: var(--bg-color);
}
.left{
 margin: 150px 0 0 100px;
 width:40%;
 
    
}
.small{
    font-size: 1.5rem;
    font-weight:500 ;
    margin:0 0 16px 10px;

    }
    .big{
        font-size: 3rem;
        font-weight: 300;
        margin:0 0 10px 0;
    
    }
    span{
        color: var(--bg-green-color);
    }
    .medium{
        font-size: 2.8rem;
        opacity: 0.6;
    }
    .para{
        font-size: 1.2rem;
    }
    .arrow{
        font-size: 10px;
        color: var(--bg-green-color);
    }

.right{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin: 0 0 0 100px ;

}
.quote-fatah{
    font-size: 50px;
    font-weight: 300;
    margin: 100px 5px;
    padding: 100px;
    opacity: 0.1;
    letter-spacing: 0.1rem;
    color: var(--bg-green-color);
}
.quote-fatah:hover{
    opacity: 1;
    transition: .2s ease;

}



.btn{
    width:50%;
    margin:50px 0px;
    padding: 0;
    display: flex;
    justify-content: c;
    align-content: center;
}
@media screen and (max-width:700px){
    .landing{
        margin-top: 5px;
        width: 100%;
        margin-left: 0px;
    flex-direction:column;   
    align-content:center;
    justify-content: center;
 }
 .left{
margin-left:100px;
width: 50%;
 }

 
 .small{
     font-size: 1.2rem
 }
 .big{
     font-size: 3rem;
 }
 .medium{
     font-size: 2rem;
     
 }
 .para{
     margin-top: 20px;
     font-size: 1rem;
 }
 .btn{
     width: 100%;
     margin:60px 0 0 5px;
 }
 .right{
    margin-left: 150px;
     width: 30%;
     height: 1000px;

 }

}