.landing{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin:120px 0 0 0;
    letter-spacing: 3px;
    background-color: var(--bg-color);
   animation: fade ease 1s;
}
@keyframes fade {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.left{
    width: 60%;
    padding: 1rem 0;
 margin: 0;
 
 
    
}
.small{
    font-size: 1.5rem;
    font-weight:500 ;
    margin:0 0 18px 7px;

    }
    .big{
        font-size: 3.5rem;
        font-weight: 500;
        margin:0 0 10px 0;
    
    }
    span{
        color: var(--bg-green-color);
    }
    .medium{
        font-size: 3rem;
        opacity: 0.8;
        font-weight: 300;
    }
    .para{
        font-size: 1.5rem;
        opacity: .6;
    }
    .arrow{
        font-size: 10px;
        color: var(--bg-green-color);
    }

.right{
    width: 30%;
    margin:  0 ;
    padding:  0px 0 0;


}
.bigger{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin: 20px 40px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-green-color);

    
    
    
    
}
.bigger span{
    color: rgb(14, 11, 11);
    font-size: 50px;
    font-weight: 500;


}
.quote{
    position: relative;
    width: 350px;
    height: 350px;
    
    padding: 10px;
    
    background-color: transparent;
    animation: wider 4s ease;
    
}
.quote::before{
display: block;
content: "";
width:40px;
height: 40px;
position: absolute;
top: 5px;
left:5px;
border-top: 5px solid var(--bg-green-color);
border-left: 5px solid var(--bg-green-color);
}
.quote::after{
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    
    position: absolute;
    bottom:5px;
    right:5px;
    border-bottom: 5px solid var(--text-dark-color);
border-right: 5px solid var(--text-dark-color);      
}
.quote-fatah{
    padding: 50px;
    
}

.quote-fatah > p{
    
    font-size: 1.8rem;
    
    
    

}
.quote-fatah > hr{
    width: 200px;
}

.btn{
    
    margin:80px 0 0 0px;
    padding: 0;
    display: flex;
    justify-items:center ;
    align-content: center;
}
@media screen and (max-width:700px){
    .landing{
        padding: 0;
        margin: 100px 0;
    flex-direction:column;   


 }
 .left{
padding:4rem 2rem;
margin-bottom: 100px;
width: 100%;
 }

 
 .small{
     font-size: 1rem
 }
 .big{
     font-size: 2.5rem;
 }
 .medium{
     font-size: 2rem;
     
 }
 .para{
     margin-top: 20px;
     font-size: 1rem;
 }
 .btn{
     
     margin:60px 0 0 0px;
 }
 .right{
     
padding: 1rem 1rem;
margin-bottom: 150px;
width: 100%;
 }
 .quote{
     width: 300px;
     height: 200px;
     padding: 30px;
    
     
 }
 
 .quote-fatah{
     
     margin: 40px  0px;
     padding:0;  
 }
 .quote::before{
border-top:2px solid var(--bg-green-color) ;
border-left:2px solid var(--bg-green-color) ;

 }
 .quote::after{
    border-bottom:2px solid var(--text-dark-color) ;
    border-right:2px solid var(--text-dark-color);

 }

 .quote-fatah > p{
     font-size: 1rem;
 }
}