.landing{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin:50px 0 0 0 ;
    letter-spacing: 3px;
    background-color: var(--bg-color);
}
.left{
 margin: 200px 150px;
 width:60%;
 
    
}
.small{
    font-size: 1.5rem;
    font-weight:500 ;
    margin:0 0 16px 10px;

    }
    .big{
        font-size: 4.5rem;
        font-weight: 300;
        margin:0 0 10px 0;
    
    }
    span{
        color: var(--bg-green-color);
    }
    .medium{
        font-size: 2.8rem;
        opacity: 0.6;
    }
    .para{
        font-size: 1.2rem;
    }
    

.right{
    width: 50%;
    height: 50%;

}



.btn{
    width:50%;
    margin:50px 0px;
    padding: 0;
    display: flex;
    justify-content: c;
    align-content: center;
}
@media screen and (max-width:760px){
    .landing{
        margin-top: 5px;
        width:80%;
        margin-left: 20px;
    flex-direction:column;   
    align-items:center;
    justify-content: center;
 }
 .left{
margin-left:100px ;
    
 }

 
 .small{
     font-size: 1.2rem
 }
 .big{
     font-size: 4rem;
 }
 .medium{
     font-size: 2rem;
     
 }
 .para{
     margin-top: 20px;
     font-size: 1rem;
 }
 .btn{
     width: 100%;
     margin:60px 0 0 5px;
 }
 .right{
     background-color: var(--bg-green-color);
     width: 30%;
     height: 50%;

 }

}