.slide-container{
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;

    display: flex;
    font-size: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-body-color);
    border: 1px solid red;

}