.slider{
    margin: 40px;
    width: 950px;
    height: 750px;
    padding: 30px  20px;
    background-color:rgba(46, 76, 100, .1);
    border: 1px solid var(--bg-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);

    
}
.slide-show{
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
transition: 1s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    }

.arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px ;
    color: var(--bg-green-color);
    font-size:26px;

    
}
.arrow .left-arrow{

    
padding: 20px 0;

}

.arrow .right-arrow{
    
padding: 20px;



}
.arrow .left-arrow:hover{
    
    
    color: var(--text-dark-color);
    
    
    
}
.arrow .right-arrow:hover{
    color: var(--text-dark-color);
    
}
.slide-content{
line-height: 1.8;

padding: 5px 0;
color: var(--text-light-color);
letter-spacing: 2px;
}
.slide-content h3{
    color: var(--text-dark-color);
    font-size:36px;
font-weight: 300;
padding: 5px;
    
}

.slide-content .p-file{
    color: var(--text-dark-color);
    display: flex;
    font-size: 30px;
font-weight: 100;

}
.slide-content .p-file li:hover{
    color: var(--bg-green-color);
}
.slide-content .p-file li:nth-child(1){
    margin-right: 20px;

}
.slide-content .p-file li:nth-child(2){
    margin-left: 20px;

}

@media screen and (max-width:767px) {
.slider{
    
    width: 80%;
    height: 700px;
    padding: 16px;
    
    
}
.slide-show{
    border-radius: 10px;
transition: 1s ease-in-out;
    width: 100%;
    flex-direction: column;
}
    
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding:0;

}
.arrow 
.left-arrow{
    margin-right: 5px;
padding-top: 10px;
color: var(--bg-green-color);
font-size: 22px


}

.arrow
.right-arrow{
    margin-left: 5px;
padding-top: 10px;
font-size: 22px;
color: var(--bg-green-color);
}

.arrow .left-arrow:hover{
    color: var(--bg-green-color);
}
.arrow .right-arrow:hover{
    color: var(--bg-green-color);
}
.slide-content{
margin: 0;    


}
.slide-content h3{
    padding: 0;
    color: var(--text-dark-color);
    font-size: 22px;

}
.slide-content 
.p-file li{
padding: 5px 0px 0 0;
font-size: 22px;

}
 .slide-content
 .p-file{
    color: var(--text-dark-color);
    display: flex;
    
font-size: 16px;
    align-items:center ;
}
}
    

