.slide-container{
    width: 100%;
    min-height: 100vh;

    display: flex;
    
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    border: 1px solid red;

}
@media screen and (max-width: 767px) {
    .slide-container{
        width: 90%;
    }
}