.slider {
	width: 30rem;
}
.sliders{
	width: 30rem;
	height: 20rem;
}



.slide-show {		

border: 1px solid var(--bg-body-color);
width: 30rem;
	position: absolute;
	background-color: #222f43;
}
.slide-shows {
	border: 1px solid var(--bg-body-color);
	margin-top: 2rem;
height: 150px;
	width: 35rem;
		position: absolute;
		background-color: #222f43;
		border-radius: .1rem;
	}
.project {
	width: 100%;
	height: 20rem;
	background-color: var(--bg-body-color);
}

.arrow {
	display: flex;
	justify-content: center;
	color: var(--bg-green-color);
	font-size: 2rem;
}
.slide.active {
	content: "sdfghjkl";
	animation: opac 1s ease-in-out;
}
@keyframes opac {
	0% {
		opacity: 0;
		backdrop-filter: blur(0px);
	}

	100% {
		opacity: 1;
		backdrop-filter: blur(5px);
	}
}
.arrow .left-arrow {
	padding: 1rem;
}

.arrow .right-arrow {
	padding: 1rem;
}
.arrow .left-arrow:hover {
	color: var(--text-dark-color);
}
.arrow .right-arrow:hover {
	color: var(--text-dark-color);
}
.slide-content, .slide-content-one {
	padding: .5rem ;
	border-radius: 1rem;
	letter-spacing: 1px;
}


.slide-content p:nth-child(1),
.slide-content-one p:nth-child(1) {
	color: var(--bg-green-color);
	font-size: 1.8rem;
	font-weight: 100;

	padding: 1rem .5rem;
}
.slide-content p:nth-child(2),
.slide-content-one p:nth-child(2){
	padding: .5rem;
	font-family: 100;
	font-size: 1.2rem;


}
.slide-skills {
	display: flex;
	padding: 1rem .5rem;
	

}
.slide-skills li{
	margin-right: 1rem;
	padding: .5rem ;
	font-size: 1rem;
	background-color: var(--bg-body-color);
	border-radius:.5rem ;
}
.p-file li a {
	color: #dbc2cf;
	
}
 .p-file {
	color: #dbc2cf;
	display: flex;
	padding: .5rem ;
	font-size: 1.2rem;
	font-weight: 100;
}
.p-file li a:hover {
	color: var(--bg-green-color);
}
.p-file li:nth-child(1) {
	margin-right: .2rem;
}
.p-file li:nth-child(2) {
	margin-left: 20px;
}
.p-file li a:visited {
	color: var(--text-light-color);
}

@media screen and (max-width: 767px) {
	.slider {

		width: 10rem;
		
		
	}
	.sliders{
		width: 10rem;


	}
	.slide-show {
		padding: 0;
		width: 10rem;
		height: 17.5rem;

	}
	.slide-shows {
		margin-top: 5rem;
		width: 15rem;
		height: 7rem;

	}

	.project {
		width: 100%;
		height: 7rem;
	}

	.arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		margin-bottom: 0;
		
	}

	.arrow .left-arrow {
		padding: .5rem;
	}

	.arrow .right-arrow {
		padding: .5rem;
	}

	.slide-content,.slide-content-one {
		margin-top: 0;
		padding: .2rem;
		
	}
	.slide-content p,.slide-content-one p {
		font-weight: 100;
		padding: 0 .5rem;
		margin-top: 0;
		height:18px;

	}
	.slide-content p:nth-child(1),.slide-content-one p:nth-child(1) {
		padding: 0rem;
		font-size:.8rem ;

	}
	.slide-content p:nth-child(2){
		padding:0rem;
		font-size: .6rem;
	}.slide-content-one p:nth-child(2){
		margin-top: .2rem;
		padding:.4rem 0rem;
		font-size: .6rem;
	}
	.slide-content-one>.slide-skills{
		padding-top:1.4rem;

	}
	.slide-skills{
		padding:0.4rem 0rem;
	}

	.slide-skills li {
		margin: 0rem .1rem 0rem .1rem;
		padding: .2rem .25rem;
		background-color: transparent;
		background-color: var(--bg-body-color);
		border-radius:.1rem ;		
		font-size: .4rem;
	}
	.slide-skills li:nth-child(1){
		margin-left:0rem;
	}

	.p-file {
		display: flex;
		padding: 0.2rem 0 0 .2rem;
		font-size: .6rem;
		font-weight: 100;
	}
	.p-file li a:hover {
		color: var(--bg-green-color);
	}
	 .p-file li:nth-child(1) {
		margin-right: .5rem;
	}
	 .p-file li:nth-child(2) {
		margin-left: 0rem;
	}
	.p-file li a:visited {
		color: var(--text-light-color);
	}
}
@media screen and (max-width: 21.875em) {
	.slider {
		width: 10rem; 		

	}
	.sliders{
		width: 10rem;

	}
	.slide-show {
		margin: 0;
		width: 10rem;
		height: 19rem;

	}
	.slide-shows{
		width: 15rem;
		height: 7rem;

	}

	.project {
		width: 100%;
		height: 7rem;

	}

	.arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
	}

	.arrow .left-arrow {
		padding: .5rem;
	}

	.arrow .right-arrow {
		padding: .5rem;
	}
	.slide-content,.slide-content-one {
		margin-top: 0;
		padding: .2rem;
		
	}


	.slide-content p,
	.slide-content-one p 
	{
		padding: 0 .5rem;
		margin-top: 0;
		font-weight: 100;
		height:18px;


	}
	.slide-content p:nth-child(1),.slide-content-one p:nth-child(1){
		padding: 0rem;
		font-size:.8rem ;

	}
	.slide-content p:nth-child(2){
		padding:0rem;
		font-size: .6rem;
	}.slide-content-one p:nth-child(2){
		margin-top: .2rem;
		padding:.4rem 0rem;
		font-size: .6rem;
	}
	.slide-content-one>.slide-skills{
		padding-top:1.4rem;

	}
	.slide-skills {
		padding:0.4rem 0rem;

	}
	.slide-skills li {
		margin: 0rem .1rem 0rem 0.1rem;
		padding: .2rem .05rem;
		background-color: transparent;
		background-color: var(--bg-body-color);
		border-radius:.1rem ;		
		font-size: .4rem;;
	}
	.slide-skills li:nth-child(1){
		margin-left:0rem;
	}

	.p-file {
		display: flex;
		padding: 0.5rem 0 0 0.2rem;
		font-size: .6rem;
		font-weight: 100;
	}
	.p-file li a:hover {
		color: var(--bg-green-color);
	}
	 .p-file li:nth-child(1) {
		margin-right: .5rem;
	}
	 .p-file li:nth-child(2) {
		margin-left: 0rem;
	}
	.p-file li a:visited {
		color: var(--text-light-color);
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.slider {

		width: 13rem;
		
		
	}
	.sliders{
		width: 10rem;


	}
	.slide-show {
		padding: 0;
		width: 12rem;
		height: 17.5rem;

	}
	.slide-shows {
		margin-top: 5rem;
		width: 15rem;
		height: 7rem;

	}

	.project {
		width: 100%;
		height: 7rem;
	}

	.arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		margin-bottom: 0;
		
	}

	.arrow .left-arrow {
		padding: .5rem;
	}

	.arrow .right-arrow {
		padding: .5rem;
	}

	.slide-content,.slide-content-one {
		margin-top: 0;
		padding: .2rem;
		
	}
	.slide-content p,.slide-content-one p {
		font-weight: 100;
		padding: 0 .5rem;
		margin-top: 0;
		height:18px;

	}
	.slide-content p:nth-child(1),.slide-content-one p:nth-child(1) {
		padding: 0rem;
		font-size:.8rem ;

	}
	.slide-content p:nth-child(2){
		padding:0rem;
		font-size: .6rem;
	}.slide-content-one p:nth-child(2){
		margin-top: .2rem;
		padding:.4rem 0rem;
		font-size: .6rem;
	}
	.slide-content-one>.slide-skills{
		padding-top:1.4rem;

	}
	.slide-skills{
		padding:0.4rem 0rem;
	}

	.slide-skills li {
		margin: 0rem .1rem 0rem .1rem;
		padding: .2rem .25rem;
		background-color: transparent;
		background-color: var(--bg-body-color);
		border-radius:.1rem ;		
		font-size: .4rem;
	}
	.slide-skills li:nth-child(1){
		margin-left:0rem;
	}

	.p-file {
		display: flex;
		padding: 0.2rem 0 0 .2rem;
		font-size: .6rem;
		font-weight: 100;
	}
	.p-file li a:hover {
		color: var(--bg-green-color);
	}
	 .p-file li:nth-child(1) {
		margin-right: .5rem;
	}
	 .p-file li:nth-child(2) {
		margin-left: 0rem;
	}
	.p-file li a:visited {
		color: var(--text-light-color);
	}
}