.slideContainer{
    margin: 100px 0;
}
.slide-show{
    position: relative;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width:50%;
 margin:10% 25%;
 padding:  0;
 box-sizing: border-box;
 height: 70%;
}

.slide-show-slider{
    position: relative;
    letter-spacing: .1rem;
 padding: 5% 5%;
    overflow: hidden;
    transition: .5s;
    margin: 3% 2%;
    line-height: 2.5;
    width:120%;
    height: 80%;
    transform: scale(1);
    background-color:var(--bg-color);
    box-shadow: 10px 20px 30px rgba(0,0,0, 1);                                   
}
.slide-show-slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 2% 2% 2% 4%;
    border-radius: 10px;


}


.slide-show-slider h1{
    font-size: 2rem;
    
}

 .slide-show-slider div{
    display: flex;
    margin: 0;
    color:var(--bg-green-color);
    font-size: 2.0rem;
    padding-right: 30px;
    margin: 0px  5px;
 }
    

 div h3{
padding-right: 40px;
font-size: 2rem;
}

div h3:hover{
    color: var(--text-light-color);

}
.slider{
    position: relative;
    width: 100%;
    height: 5vh;
    display: flex;

    justify-content: center;
    align-items: center;
    padding:5px;
}

.right-arrow{
    position: absolute;
    top:0;
    right: 40%;
    font-size: 3rem;
    color: var(--text-light-color);
    z-index: 10;
    
    cursor:pointer;
    user-select: none;



}
.left-arrow{
    position: absolute;
    top:0;
    left: 40%;
    font-size: 3rem;
    color: var(--text-light-color);
    z-index: 10;
    cursor:pointer;
    user-select: none;
    
    
    
}

.right-arrow:hover,
.left-arrow:hover{
    
    color: var(--text-light-color);
}
.slide{
    opacity: 0;
    transition: 1s ease;
}
.slide.active{
    opacity: 1;
    transition: 1s;
    transform: scale(1);
}
@media screen and (max-width:700px){
    .slide-show{

    margin:10% 25%;
    padding:  0;
    height: 30%;
   }
   
   .slide-show-slider{
       font-size: 4rem;
       position: relative;
       letter-spacing: .1rem;
    padding: 5% 5%;
       overflow: hidden;
       transition: .5s;
       margin: 3% 2%;
       line-height: 2.5;
       width:120%;
       height: 80%;
       transform: scale(1);
       background-color:var(--bg-color);
       box-shadow: 10px 20px 30px rgba(0,0,0, 1);                                   
   }
   .slide-show-slider img{
       width: 100%;
       height: 100%;
       object-fit: cover;
       padding: 2% 2% 2% 4%;
       border-radius: 10px;
   
   
   }
   
   
   .slide-show-slider  h1{
       font-size: 1rem;
   }
   
    .slider div{
       display: flex;
       margin: 0;
       color:var(--bg-green-color);
       font-size: 6.0rem;
       padding-right: 30px;
       margin: 0px  5px;
    }
       
   
    .slide-show-slider  h3{
   padding-right: 40px;
   font-size: 1rem;
   }
   
   .slider  div h3:hover{
       color: var(--text-light-color);
   
   }
   .slider{
       position: relative;
       width: 100%;
       height: 5vh;
       display: flex;
       justify-content: center;
       align-content: center;
       padding:10px 25px;
   }
   
   .right-arrow{
       position: absolute;
       top:0;
       right: 60%;
       font-size: 1.2rem;
       color: var(--text-light-color);
       z-index: 10;
       padding: 0px;
       cursor:pointer;
       user-select: none;
   
   
   
   }
   .left-arrow{
       position: absolute;
       top:0;
       left: 50%;
       font-size: 1.2rem;
       color: var(--text-light-color);
       z-index: 10;
       cursor:pointer;
       user-select: none;
       border-radius:50%;
       padding: 0px ;
       
   }
   .left-arrow,
   .right-arrow{
        border:  3px solid var(--bg-green-color) ;
        border-radius: 50%;
   }
   .right-arrow:hover,
   .left-arrow:hover{
       background-color: var(--bg-green-color);
   }
   .slide{
       opacity: 0;
       transition: 1s ease;
   }
   .slide.active{
       opacity: 1;
       transition: 1s;
       transform: scale(1);
   }
   
}