.load {

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0;
	display: flex;
}
.load li {
	list-style: none;
	width: 50px;
	height: 50px;
	background-color: var(--bg-green-color);
	border-radius: 50%;
	animation: glow 1.6s ease-in-out infinite;
}
@keyframes glow {
	0%,
	40%,
	100% {
		transform: scale(0.2);
	}
	20% {
		transform: scale(1);
	}
}
.load li:nth-child(1) {
	animation-delay: -1.4s;
	box-shadow: 0 0 50px var(--bg-green-color);
}
.load li:nth-child(2) {
	animation-delay: -1.2s;
	background-color: var(--bg-body-color);
	box-shadow: 0 0 50px var(--bg-body-color);
}
.load li:nth-child(3) {
	animation-delay: -1s;
	box-shadow: 0 0 50px var(--bg-body-color);
	background-color: var(--text-dark-color);
}
.load li:nth-child(4) {
	animation-delay: -0.8s;
	box-shadow: 0 0 50px var(--text-light-color);
	background-color: var(--text-light-color);
}
.load li:nth-child(5) {
	animation-delay: -0.6s;
	background-color: var(--bg-green-color);
}
.load li:nth-child(6) {
	animation-delay: -0.4s;
	background-color: var(--bg-body-color);
}
