.loader{
background-color: var(--bg-color);
width:500px;
height: 500px;
line-height: 50vh;
display: flex;
justify-content: center;
align-items: center;

}

.inner-loader {
width: 40px;
height: 40px;
border-radius: 50% ;
background-color: var(--bg-green-color);
margin: 1.5rem;
}
.fa {
    color: var(--bg-green-color);
    font-size: 5rem;
    padding: 70px;
    transition: .5s ease-in;
      
    
}
.f{
    transform: translateX(20%);
}
.a{
    transform: translateY(40%);
}