.navbar{
    font-family: "Roboto", sans-serif;
    position:fixed;
    width: 100%;
    top:0;
    
    height: 100px;
display:flex;
justify-content:space-between;
align-items:center;
padding: 2rem 1rem;
z-index: 10;
}
.navbar-bg{
    background-color: rgba(26,36,60,1)
}
.letter{
    margin-left: 20px;
    border: 1px solid var(--bg-green-color);
    margin-top: 5px;
    padding: .1rem;
}

.letter-fa{
    
    padding: 5px;
    font-weight: 300;
    font-size: 3.0rem;
    color:var(--bg-green-color);
    cursor: pointer;

}

.navbar >.nav{
    display:flex;
    position: absolute;
    

    
    
    
    
    
}
.nav li{
    padding:  0 1rem;
}

.nav a{
    margin: 0 1.5rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 2px;
  
   
}
.nav li a:hover{
    border: 3px solid var(--bg-color);
    padding: 8px;
    color: var(--text-light-color);
    background-color: var(--bg-color);

}
.hamburger-menu{
    display: block;
    padding: 0 1rem;
    margin-top: 20px;
    
}
.times, .menu{
    transition: 0.4s ease-in;
    font-size: 35px;
    color: var(--bg-green-color);
}
 
@media screen  and (max-width:1240px) {

.nav{
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    top:0%;
    left:100%;
    text-align: center;
    width:100%;
    height: 100vh;
    background-color:var(--text-light-color);
    transition: 0.5s;
    z-index: -1;
    

}
.letter{
    padding: 0 .1rem;

}
.nav li a:hover{

border: none;
}
.nav li{
    padding: 1rem ;
}
.nav a{
    font-size: 2rem;
    color: var(--bg-color);
}

.nav.active{
    left: 0;
}
.letter-fa{
    margin: 5px;
}
.hamburger-menu{
    margin-top: 0;
}
}
@media screen and (min-width:1200px){ 
    
.nav{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top:0;
        left:100%;
        text-align: center;
        width:30%;
        height: 100vh;
        background-color:var(--text-light-color);
        transition: 0.5s;
        z-index: -1;
        color: var(--text-color);
        

    
    
    }
    .letter{
        margin-top: 10px;
        padding: 5px;
    }
    .letter-fa{
        color: var(--text-light-color);
        margin-left: 1px;
        
    }
    .nav li{
        margin: 0;
        padding: 1rem 0;
    }
    .nav a{
        font-size: 2rem;
        color: var(--bg-color);
    }
    .nav.active{
        left:70%;
    }
    .hamburger-menu{
        margin-left:3rem;
    }
    .menu{
        color: var(--bg-green-color);
    }
    
    .times{
        color: var(--bg-color);
        
    }
    .navbar{
        margin-top: 0px;
    }
}
@media screen and(max-width:700px) {
    .navbar{
        padding: 0 1rem;
    }
    .nav{
        position:absolute;
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left:-100%;
    text-align: center;
    width:1%;
    height: 100vh;
    background-color:var(--text-light-color);
    transition: 0.5s;
    z-index: -1;
    
    
    }
    .nav.active{
        left:70%;
    }
    .letter{
        padding: 0;
        margin-top: 20px;
    }
    .letter-fa{
        margin: 50px;

    }
    }

