.notFound{
    font-family: inherit;
}
.notHeading{
    margin: 4rem 1rem 2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.6rem;
    color: var(--text-dark-color);
    font-weight: 200;
}
.notParagraph{
    margin: 2rem 1rem 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 200;
    opacity: 0.4;
}
.notFounda:link{
    color: var(--text-dark-color);
}