.featured-project{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap:5rem;
    margin-top: 2rem;
    width: 100%;
	height: 40rem;


}.featured-project div{
background-color: var(--bg-color);
width: 30rem;
margin: 10rem 0;
box-shadow: 0 0 30px #000;

	height: 20rem;
	border-radius: 1rem;

}
@media screen and (max-width: 767px) {
    .featured-project{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin-top: 0rem;
        width: 100%;
        height:40rem;
    
    }
}