.primary{
    padding: .9rem 1.5rem;
    margin-left: 40px;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
    background-color: var(--bg-body-color);
      letter-spacing: 1px;
      border-radius: 5px;
      outline:none;
      cursor:pointer;
      
    }
      .primary:hover{


        background-color: var(--text-light-color);
        transition: ease 0.6s;
      }
      @media screen and (min-width:768px)  and (max-width:1023px){
.primary
{font-size: 14px;
  padding: .8rem 1rem;
      }}
    @media screen and (max-width: 767px){
    .primary{
      font-size:12px;
      font-weight:300;
      padding: .6rem 1rem;
      border: 1px solid var();
      
    
      
    }
    .primary:hover{
      border:1px solid var();
    }
    }