.primary{
    padding: .7rem 1.5rem;
    margin-left: 30px;
      font-size: 1rem;
      text-transform: uppercase;
      font-weight: 500;
    background-color: var(--bg-body-color);
      letter-spacing: 1px;
      border-radius: 5px;
      outline:none;
      cursor:pointer;
      border:  1px solid var(--bg-body-color);
    }
      .primary:hover{
        border: 1px solid var(--bg-body-color) ;
        background-color: var(--bg-color);
        transition: ease-in-out 0.6s;
      }
    @media screen and (max-width: 700px){
    .primary{font-size:1.0rem;
      padding: .8rem 1rem;
    
      
    }
    }