.profile{
    margin:0;
}
.title-head{
    font-size:22px;
    text-transform:capitalize;
    margin:5px 0 5px 0;
    color:var(--bg-green-color);
}
.place{
    font-size:15px;
    color: var(--text-light-color);
    text-transform:capitalize;
    margin:10px 0; 
}
.article{
    font-size:18px;
    font-weight:800;
color: var(--text-light-color)
}
p{
    list-style-type:none;
    font-size:15px;
    margin:5px;
    
}