.profile {
	margin: 0;
	font-weight: 300;
	letter-spacing: .2rem;
}
.title-head {
	font-size: 2.2rem;
	font-weight: 300;
	text-transform: capitalize;
	margin: .5rem 0 .5rem 0;
	color: var(--bg-green-color);
}
.place {
	font-weight: 400;
	font-size: 1.4rem;
	color: var(--text-light-color);
	text-transform: capitalize;
	margin: 10px 0;
}
.article {
	font-size: 1.8rem;
	font-weight: 300;
	color: var(--text-light-color);
}
p {
	list-style-type: none;
	font-size: 1.4rem;
	font-weight: 100;
	padding: .5rem 0;
}
