

 .secondary{
padding: .9rem 1.5rem;
  font-size: 1.2rem;
  margin-right:40px;
  text-transform: uppercase;
  font-weight: 500;
background-color: var(--bg-darkgreen-color);
  letter-spacing: 1px;
  border-radius: 5px;
  outline:none;
  cursor:pointer;
opacity: .8 ;
  border: 1px solid var(--bg-green-color);
}
  .secondary:hover{
  background-color:transparent;
    transition: ease 0.6s;
    
    border: 1px solid var(--bg-green-color);
    

}

.secondary a:visited{
color:var(--text-light-color);
opacity: 1;
margin-right: 10px;
}
@media screen and (max-width:500px) {
   .secondary{
    font-size: .6rem;
    padding: .6rem .8rem;
    
  }
}
@media screen and (max-width: 768px){
.secondary{font-size:1.0rem;
  padding: .8rem 1rem;
}
}