
.tertiary{
    padding: .9rem 1.8rem;
      font-size: 1.4rem;
      text-transform: uppercase;
      font-weight: 300;
    background-color: var(--bg-green-color);
      letter-spacing: 1px;
      border-radius: .5rem;
      outline:none;
      cursor:pointer;
      transition: 0.4s ease-in-out ;
      border: 1px solid var(--bg-green-color);
      box-shadow: 0px 11px 12px rgba(0, 0, 0, 0.2);
    }
    
      .tertiary:hover{
        background-color:var(--bg-color);
        transition:all ease 0.4s;
        border: 1px solid  var(--bg-green-color);
        color: var(--bg-green-color);
    }
    .tertiary a:link{
      color: var(--text-light-color);
    }
  