.timeline{
    padding:70px 5px;
    margin: 100px 0;
    
}
.experience-items{
    width: 1000px;;
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    position:relative;
}
.experience-items:before{
    content:"";
    position:absolute;
    width:2px;
    height:100%;
    background-color:var(--bg-green-color);
    left:calc(50% - 1px);
    
    
}
.experience-item{
    margin-bottom:50px;
    width:100%;
    position:relative; 
   
    
}

.experience-item:nth-child(odd){
    padding-right:calc(50% + 30px);
    text-align:right;

}
.experience-item:nth-child(even){
    padding-left:calc(50% + 30px);
}
.experience-content:hover{
    
    transition:all ease-in-out 0.4s;
    padding: 20px;

}

.experience-content{
    padding:30px;
    border-radius:30px;
    color: var(--text-dark-color);
    border: 1px solid var(--bg-green-color);
}
@media screen and (max-width:700px) {
    .experience-items:before{
    left: 7px;
}
.experience-items{
    width:85%;
}
.experience-item:nth-child(odd){
padding-left:35px;
        padding-right:0;
        text-align:left;
    }
    .experience-item:nth-child(even){
    padding-left:37px;
}

}