.timeline {
	padding:2rem 1.5rem;
	width: 100%;
	margin: 10rem  0;
}
.experience-items {
	max-width: 100rem;
	margin: auto;

	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
.experience-items:before {
	content: '';
	position: absolute;
	width: .2rem;
	height: 100%;
	background-color: var(--bg-darkgreen-color);
	left: calc(50% - 0.1rem);
}
.experience-item {
	margin-bottom: 4rem;
	width: 100%;
	position: relative;
}

.experience-item:nth-child(odd) {
	padding-right: calc(50% + 3rem);
	text-align: right;
}
.experience-item:nth-child(even) {
	padding-left: calc(50% + 3rem);
}
.experience-item:last-child {
	margin-bottom: 0;
}
.experience-content:hover {
	transform: scale(1.05);
	transition: all ease 0.2s;
}

.experience-content {
	padding: 3rem;
	border-radius: 1.5rem;
	background-color: #222f43;

	font-weight: 100;
	color: var(--text-dark-color);
	border: .2rem solid var(--bg-darkgreen-color);
}
@media screen and (max-width: 767px) {
	.timeline {
		margin: 0;
		padding: 8rem 0;
		width: 100%;
	}
	.experience-items:before {
		left: 1.4rem;
	}
	.experience-items {
		width: 90%;
	}
	.experience-content {
		width: 90%;
	}
	.experience-item:nth-child(odd) {
		padding-left: 3rem;
		padding-right: 0;
		text-align: left;
	}
	.experience-item:nth-child(even) {
		padding-left: 3rem;
		text-align: left;
	}
}
@media screen and (max-width:21.875em){
	.timeline {
		margin: 0;
		padding: 8rem 0;
		width: 100%;
	}
	.experience-items:before {
		left: 1.4rem;
	}
	.experience-items {
		width: 90%;
	}
	.experience-content {
		width: 90%;
	}
	.experience-item:nth-child(odd) {
		padding-left: 3rem;
		padding-right: 0;
		text-align: left;
	}
	.experience-item:nth-child(even) {
		padding-left: 3rem;
		text-align: left;
	
}
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.timeline {
		padding-top: 5rem;
		width: 100%;
	}
	.experience-items:before {
		left: 0;
	}
	.experience-items {
		width: 90%;
	}
	.experience-content {
		width: 85%;
	}
	.experience-item:nth-child(odd) {
		padding-left: 3rem;
		padding-right: 0;
		text-align: left;
	}
	.experience-item:nth-child(even) {
		padding-left: 3rem;
		text-align: left;
	}
}
@media screen and (min-width: 1024px) {
	.timeline {
		width: 100%;
	}
	.experience-items {
		width: 80%;
	}
	.experience-item:nth-child(odd) {
		text-align: left;
	}
	.experience-item:nth-child(even) {
		text-align: left;
	}
}
