.timeline{
padding: 100px 15px;
width: 100%;    
    margin: 100px 0;
    
}
.experience-items{
    max-width: 1000px;
    margin: auto;
    
    justify-content: center;
    flex-wrap:wrap;
    position:relative;
    
}
.experience-items:before{
    content:"";
    position:absolute;
    width:1px;
    height:100%;
    background-color:var(--bg-green-color);
    left:calc(50% - 1px);
    
    
}
.experience-item{
    margin-bottom:40px;
width: 100%;
    position:relative; 
   
    
}

.experience-item:nth-child(odd){
    padding-right:calc(50% + 30px);
    text-align:right;
    

}
.experience-item:nth-child(even){
    padding-left:calc(50% + 30px);
    
}
.experience-item:last-child{
    margin-bottom: 0;
}
.experience-content:hover{
    transform: scale(1.05);
    transition:all ease 0.2s;


}

.experience-content{
    
    
    background-color: var(--bg-body-color);
    padding: 30px;
    border-radius:15px;
    font-weight: 100;
    color: var(--text-dark-color);
    border: 1px solid var(--bg-green-color);
}
@media screen and (max-width:767px) {
    .timeline{
        width:100%;
    }
    .experience-items:before{
    left: 0px;
}
.experience-items{
    
    width:90%;
}
.experience-content{
    width: 90%;
}
.experience-item:nth-child(odd){
padding-left:30px;
        padding-right:0;
        text-align:left;
    }
    .experience-item:nth-child(even){
    padding-left:30px;
    text-align: left;
}

}
@media screen and (min-width:768px) and (max-width:1023px){
    .timeline{
        width: 100%;
    }
    .experience-items:before{
    left: 0px;
}
.experience-items{
    
    width:90%;
}
.experience-content{
    width: 85%;
}
.experience-item:nth-child(odd){
padding-left:30px;
        padding-right:0;
        text-align:left;
    }
    .experience-item:nth-child(even){
    padding-left:30px;
    text-align: left;
}

}
@media screen and (min-width:1024px) {
    .timeline{
        width: 100%;
    }
    .experience-items{
        width: 80%;
    }
    .experience-item:nth-child(odd){
        
                
                text-align:left;
            }
            .experience-item:nth-child(even){
            
            text-align: left;
        }
}