@import "tailwindcss";

body {
  background-color: #131313;
  color: #eeeeee;
  font-family: "Geist", sans-serif;
  line-height: 1.5;
}
button {
  padding: 0.5rem 1rem;
}
.header-container {
  max-width: cal;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
